.article-cover {
	background-color: rgb(255, 255, 255);
	height:100vh;
	display:flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	align-items:center;
	.article-cover__paragraph {
		width: 100%;
		text-align: center;
		h1 {
			width: 80%;
			margin: 0 auto;
			font-size: 2rem;
			font-weight: bold;
			strong {
				color: $primary-color;
			}
		}
		p {
			font-size: 15px;
			font-weight: 300;
			i {
				font-weight: bold;
			}
		}
	}
	.article-cover__img {
		width:100%;
		display: flex;
		position: relative;
		.article-cover__main-img {
			width: 100%;
			transform: translateX(10%);
		}
		.article-cover__second-img {
			position: static !important;
			width:20% !important;
			min-height: 100% !important;
			height: inherit !important;
			top: inherit !important;
			bottom: 0 !important;
		}
	}
}
.dashboard-cover {
	background-color: transparent;
	height:100vh;
	display:flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	align-items:center;
	&__paragraph {
		width: 100%;
		text-align: center;
		h1 {
			width: 80%;
			margin: 0 auto;
			font-size: 2rem;
			font-weight: bold;
			strong {
				color: $primary-color;
			}
		}
		p {
			font-size: 15px;
			font-weight: 300;
			i {
				font-weight: bold;
			}
		}
	}
	&__img {
		width:100%;
		display: flex;
		position: relative;
		.dashboard-cover__main-img {
			width: 100%;
			transform: translateX(10%);
		}
		.dashboard-cover__second-img {
			position: static !important;
			width:20% !important;
			min-height: 100% !important;
			height: inherit !important;
			top: inherit !important;
			bottom: 0 !important;
		}
	}
}

.article-wrapper {
	display:grid;
	grid-template-columns: repeat(1 , 1fr);
	grid-gap: 10px;
	margin-top: 50px;
	background-color: $white;

	.article-item {
		background-color: $white;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		display: flex;
		flex-direction: column;
		border-radius:10px;
		.article-img {
			width: 100%;
			// if using img active this below
			img {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				object-fit: cover;
				width: 100%;
				height: inherit;
			}

			// if using image/nextJS active this below

			// div {
			// 	height: 200px;
			// 	width: 100%;
			// 	img {
			// 		border-radius: initial;
			// 		border-top-right-radius: 10px;
			// 		border-top-left-radius: 10px;
			// 		object-fit: cover;
			// 	}
			// }
		}
		.article-content {
			padding: 15px;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(4, auto);	
			gap: 10px;
			.article-category {
				font-size: 15px;
				color: $dark-grey;
			}
			.article-category, .article-footer {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			.article-head {
				font-weight: bold;
				font-size: 1.5rem;
				text-overflow: ellipsis;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.article-body {
				text-overflow: ellipsis;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				text-align: justify;
			}
			.article-footer {
				align-items: center;
				@at-root .author {
					display: flex;
					align-items: center;
						img {
							width: 30px;
							height: 30px;
							object-fit: cover;
							border-radius: 15px;
							margin-right: 10px;
						}
				}
				a {
					color: $primary-color;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}


// detail article 
.article-detail {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	.breadcrumbs {
		overflow: hidden;
		width: 100%;
	}
	&__img {
		grid-column-start: 1;
		grid-column-end: 2;
		height: 40vh;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.tags {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
	&__content {
		padding: 20px 0;
		&-head {
			justify-content: space-between;
			color: $dark-grey;
			align-items: center;
			
		}
		&-title {
			font-size: 1.7rem;
			font-weight: bold;
			margin-top: 15px;
			text-align: justify;
			display: flex;
			flex-direction: column;
			span {
				margin-top: 4px;
				font-size: 16px;
				color: $dark-grey;
				font-weight: 400;
			}
		}
		&-body {
			p {
				// text-align: justify;
				font-size: 1.2rem;
				text-indent: 7%;
				line-height: 1.7;
				font-weight: 400;
				letter-spacing: .5px;
			}
		}
		&-footer {
			.article-detail__share-sosial-media {
				justify-content: flex-start;
				margin: 15px 0;
				a {
					margin: 0 5px 0 0;
					padding: 10px 11px;
					border-radius: 50%;
					color: $black;
					background-color: transparent;
					border: 1px solid $black;
				}
			}
			.article-detail__comments {
				// css code of comments
				display: none;
			}
		}
	}
	&__side {
		padding: 15px 0;
		&-list {
			list-style: none;
			padding-left: 0;
			width: 100%;
			li {
				margin-bottom: 10px;
				.article-detail__side-item {
					border-radius: 5px;
					background-color: $white;
					color: $black;
					box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
					text-decoration: none;
					&-cover {
						// background-color: salmon;
						width: 30%;
						img {
							width: 100%;
							object-fit: cover;
							height: 100%;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
						}
					}
					&-content {
						width: 70%;
						padding: 8px;
						overflow: hidden;
						.article-detail__side-head {
							justify-content: space-between;
							align-items: center;
							font-size: 14px;
							& > span {
								font-size: 12px;
							}
						}
						h4 {
							font-weight: bold;
							overflow: hidden;
							width: 100%;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width:500px) {
	.article-cover {
		flex-direction: row;
		justify-content: space-between;
		.article-cover__paragraph {
			width: 45%;
			text-align: initial;
			h1 {
				width: initial;
				font-size: 2.5rem;
			}
			.btn {
				margin-bottom: 5px;
			}
		}
		.article-cover__img {
			width:53%;
			justify-content:flex-end;
			.article-cover__main-img {
				width: 90%;
				transform: initial;
			}
		}
	}
	.dashboard-cover {
		
		flex-direction: row;
		justify-content: space-between;
		&__paragraph {
			width: 45%;
			text-align: initial;
			h1 {
				width: initial;
				font-size: 2.5rem;
			}
			.btn {
				margin-bottom: 5px;
			}
		}
		&__img {
			width:53%;
			justify-content:flex-end;
			.article-cover__main-img {
				width: 90%;
				transform: initial;
			}
		}
	}
	
	.article-wrapper {
		grid-template-columns: repeat(1 , 1fr);
		grid-auto-rows: 230px;
		gap: 20px;
		margin-top: 20px;
		.article-item {
			display: flex;
			flex-direction: row;
			.article-img {
				width: 40%;
				height: 100%;
				img {
					border-radius: initial;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;	
				}
				// div {
				// 	height: inherit;
				// 	width: 100%;
				// 	img {
				// 		border-radius: initial;
				// 		border-top-left-radius: 10px;
				// 		border-bottom-left-radius: 10px;
				// 		object-fit: cover;
				// 	}
				// }
			}
			.article-content {
				grid-template-rows: auto auto auto 1fr;
				height: inherit;
				width: 60%;
				.article-category {
					font-size: 14px;
					span:last-child {
						font-size: 12px;
					}
				}
				.article-head {
					font-size: 1.2rem;
				}
				.article-body {
					font-size: 14px;
				}
				.article-footer {
					font-size: 14px;
					.author {
						color: $dark-grey;
						cursor: pointer;
						&:hover {
							color: $black;
						}
					}
				}
			}
		}
	}

	.article-detail {
		display: grid;
		grid-template-columns: 1fr; 
		grid-auto-rows: auto;
		gap: 0;
		.breadcrumbs {
			font-size: 14px;
			font-weight: 300;
		}
		&__img {
			height: 80vh;
			img {
				width: 100%;
				height: inherit;
				object-fit: cover;
			}
		}
		&__content {
			padding: 15px 0;
			&-head {
				font-size: 16px;
				& > span {
					font-size: 13px;
				}
			}
			&-title {
				font-size: 2rem;
				font-weight: 400;
				span {
					font-size: 13px;
					font-weight: 300;
				}
			}
			&-body {
				p {
					font-size: 17px;
					font-weight: 300;
				}
			}
		}
		&__side {
			padding: 15px 0;
			&-list {
				li {
					.article-detail__side-item {
						&-content {
							.article-detail__side-head {
								font-size: 13px;
							}
							h4 {
								font-weight: 400;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.article-cover {
		.article-cover__paragraph {
			h1 {
				font-size: 3.4rem;
			}
		}
	}
	.dashboard-cover {
		&__paragraph {
			h1 {
				font-size: 3.4rem;
			}
		}
	}
	.article-wrapper {
		grid-template-columns: repeat(2 , 1fr);
		.article-item {
			.article-content {
				.article-head {
					font-size: 1.4rem;
				}
			}
		}
		.article-item:nth-child(5) {
			grid-column-start: 1;
			grid-column-end: 3;
			.article-img {
				width: 50%;
			}
			.article-content {
				width: 50%;
				.article-head {
					font-size: 1.7rem;
				}
			}
		}
		.article-item:nth-child(12) {
			grid-column-start: 1;
			grid-column-end: 3;
			.article-img {
				width: 50%;
			}
			.article-content {
				width: 50%;
				.article-head {
					font-size: 1.7rem;
				}
			}
		}
	}
	.article-detail {	
		grid-template-columns: 65% 35%;
		grid-auto-rows: auto;
		gap: 0;	
		&__img {
			grid-column-start: 1;
			grid-column-end: 3;
			
		}
		&__content {
			padding: 15px 35px 15px 0;
		}
		&__side {
			position: relative;
			padding: 15px 0 15px 30px;
			
		}
	}
}

@media screen and (min-width: 1240px) {

}
@media screen and (min-width: 1440px) {
	.article-wrapper {
		grid-template-columns: repeat(3, 1fr);
		.article-item:nth-child(5) {
			grid-column-start: 2; 
			grid-column-end: 4;
		}
	}	
}