.action-counter {
	display: flex;
	align-items: center;
	&-value {
		margin: 0 10px;
	}
}
.primary-btn {
  background-color: $primary-color;
  color: $white;
}

.danger-btn {
	background-color: $danger-color;
	color: $white;
}
.info-btn {
	background-color: $info-color;
	color: $white;
}
.success-btn {
	background-color: $success-color;
	color: $white;
}

.success-less-btn {
	background-color: transparent;
	color: $success-color;
	font-size: 1.1rem;
}

.danger-less-btn {
	background-color: transparent;
	color: $danger-color;
	font-size: 1.1rem;
}

.sm-less-btn {
	padding: 0;
}

.md-btn {
	font-size: 1rem;
  padding: 13px 25px;
}
.sm-btn {
  padding: 8px 20px;
}

.xsm-btn {
  padding: 4px 8px;
}

.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
	// font-size: 16px;
}

.paginate-wrapper {
	display: flex;
	flex-direction: row;
	margin: 10px 0 0;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	.text-paginate {
		color: $dark-grey;
		font-size: 14px;
		font-weight: 300;
	}
	.btn-paginate {
		button {
			margin: 0 2px;
			border: none;
			background-color: $active-text-menu;
			color: $white;
			padding: 5px 10px;
			border-radius: 5px;
			cursor: pointer;
			&:disabled {
				background-color: $primary-transparent;
			}
		}
	}
}

.view-more {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin: 20px auto;
	button {
		background-color: $white;
		border-radius: 10px;
		border: none;
		text-decoration: none;
		padding: 10px 15px;
		cursor: pointer;
		font-size: 14px;
		color: $black;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}
}

@media screen and (min-width: 500px) {
	.md-btn {
		padding: 10px 23px;
	}
}