.form-wrapper {
	.input-wrapper {
		position: relative;
		label {
			font-size: 1.2rem;
		}
		.input {
			border-radius: 5px;
			border: 1px solid $dark-grey;
			padding: 8px 10px;
			min-width: 10px;
			background-color: $white;
			font-size: 16px;
			&:focus, &:active {
				border: 1px solid inherit;
				outline: none;
			}
			&:disabled {
				color: $dark-grey;
			}
			&.error {
				border: 1px solid $danger-color;
			}
			&.success {
				border: 1px solid $success-color;
			}
		}
		.form-icon {
			position: absolute;
			bottom: 9px;
			left: 7px;
			background-color: $light-grey;
			padding: 2px;
			border-radius: 50%;
		}
		.form-icon + .input {
			padding: 8px 30px;
		}
		.radio-label {
			display: flex;
			align-items: center;
			margin-left: 10px;
			cursor: pointer;
		}
		input[type="radio"] {
			opacity: 0;
			position: relative;
		}
	}
}

.form-vertical {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.form-horizontal {
	.input-wrapper {
		margin: 1% 0;
	}	
}



.search-form {
	position: relative;
}

@media screen and (min-width: 500px) {
	.form-wrapper {
		.input-wrapper {
			label {
				font-size: .9rem;
			}
			.input {
				font-size: 1rem;
				padding: 7px 9px;	
				background-color: transparent;
			}
			.form-icon + .input {
				padding: 8px 30px;
			}
		}
	}
	
	.form-vertical {
		.input-wrapper {
			.form-icon {
				color: $black;
			}
		}
	}

	.form-horizontal {
		.input-wrapper {
			margin: 5px 0;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}	
	}


}
// @media screen and (min-width: 500px) {
// 	.form-horizontal {
// 		.input-wrapper {
// 			margin: .8% 4px;
// 		}	
// 	}
// }


// @media screen and (min-width: 1440px) {
// 	.form-wrapper {
// 		.input-wrapper {
// 			.input {
// 				padding: 10px 32px;
// 			}
// 		}
// 	}
// }

	
