.label-sm {
  padding: 2px 5px;
  border-radius: 3px;
  color: $black;
  font-size: 10px;
  text-transform: capitalize;
  background-color: $light-grey;
}
.label-danger-transparent {
  color: $white;
  background-color: $danger-transparent;
  text-decoration: line-through;
}
.label-primary {
  color: $white;
  background-color: $primary-color;
}
.label-danger {
  color: $white;
  background-color: $danger-color;
}
.label-info {
  color: $white;
  background-color: $info-color;
}
.label-success {
  color: $white;
  background-color: $success-color;
}
.label-warning {
  color: $white;
  background-color: $warning-color;
}
table.tables {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1em .5em;
  position: relative;
  &.loading {
    &::after {
      content: "";
      background-image: url('../public/assets/images/icons/loading.gif');
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      background-color: rgba(251, 251, 251, 0.656);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .bold {
    font-weight: 500;
    font-size: .7em;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
  .center {
    text-align: center;
  }
  .blur {
    color: $text-color;
  }


  thead {
    &::after {
      content: ' ';
      position: relative;
      display: block;
      height: 10px;
    }
    tr {
      font-weight: 400;
      font-size: .9rem;
      color: $black;
      text-transform: capitalize;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $blur-color;
      cursor: pointer;
      &:hover {
        background-color: #EFEFEF;
        .blur {
          color: $black;
        }
      }
      td {
        padding: 7px 5px;
        font-weight: 300;
        font-size: .8em;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  
}