$primary-color: #1766FF;
$primary-transparent: #4983f8b4;
$danger-transparent: rgba(244, 30, 19, 0.726);
$danger-color: #F42013;
$success-color: #22BC33;
$warning-color:#f8c050; 
$info-color: #34B5E7;
$text-color: #c7c7c7;
$light-grey: #f2f2f2;
$smooth-white: #fafafa;
$dark-grey: #c0bebe;
$active-menu: #f0f7ff;
$active-text-menu: #197BBD;
$black: #404040;
$white: #fff;
$yellow: #FFC145;
$blur-color: #ECECEC;

@import 'layout';
@import 'navbar';
@import 'content';
@import 'cards';
@import 'button';
@import 'form';
@import 'alert';
@import 'input';
@import 'article';
@import 'footer';
@import 'order';
@import 'sale';
@import 'table';
@import 'cart';
@import 'link';
@import 'loading';