@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import 'variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  // color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

hr {
  border-top:1px solid $light-grey;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

// classname
.breadcrumbs {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .9rem;
  width: inherit;
  max-width: 100%;
  color: $dark-grey;
  a {
    text-decoration: none;
    color: $dark-grey;
    margin: 0 5px;
    &:last-child {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
    }
  }
  span {
    &:not(:first-child){
      font-size: 8px;
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.standart {
  width: 100%;
  height: 100%;
}

.p-10 {
  padding: 10px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-30 {
  margin-bottom: 60px;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mrl-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.mrl-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.icon-td {
  background-color: #EFEFEF;
  padding: 3px;
  border-radius: 50%;
  margin-right: 5px;
}

.container {
  padding: 0 8%;
}
.center {
  width: fit-content;
  margin: auto;
}
.center-text {
  text-align: center;
}

.progress-bar {
  height: 7px;
  border-radius: 20px;
  width: 100%;
  position: relative;
  background-color: #F1F1F1;
  overflow: hidden;
  span {
    transition: .3s;
    position: absolute;
    left: 0;
    height: inherit;
  }
}

.remember_me + label {
  font-size: 14px;
  color: $black;
}

.tags {
  letter-spacing: .3px;
}

.tags-sm {
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 10px;
}

.tags-md {
  padding: 10px 15px;
}

.tags-primary {
  color: $white;
  background-color: $primary-color;
}
.tags-info {
  color: $white;
  background-color: $info-color;
}

.text-grey {
  color: $dark-grey;
}

.text-14 {
  font-size: 14px;
}

.text-light {
  font-weight: 400;
  text-transform: uppercase;
}

.text-line-through {
  text-decoration: line-through;
}

.text-overflow-1 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: fit-content;
}
.text-overflow-2 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: fit-content;
}
.text-overflow-3 {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.underline-text:hover {
 text-decoration: underline;
}

.w-100 {
  width: 100%;
}
